<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source=10.168.174.74;Integrated Security=false;User ID=DeveloperUser;Pwd=M@devUser2!19;Initial Catalog=NetExamV5" providerName="System.Data.SqlClient" /> <!-- 169.44.139.42-->
		
	</connectionStrings>
	<appSettings>
		<!--<add key="ConnectionString" value="Data Source=169.44.139.42;Integrated Security=false;User ID=DeveloperUser;Pwd=M@devUser2!19;Initial Catalog=NetExamV5" />-->
		<add key="log4net.Internal.Debug" value="true" />
		<add key="LogFileFolder" value="D:\\MD-Yasindu\\NetExamV6Projects\\Local\NetExam APIs\\NetExamMotrainIntergration\\NetExamMotrainIntergration\\Log\\" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="D:\\MD-Yasindu\\NetExamV6Projects\\Local\NetExam APIs\\NetExamMotrainIntergration\\NetExamMotrainIntergration\\Log\\debug.log" />
			
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="D:\\MD-Yasindu\\NetExamV6Projects\\Local\NetExam APIs\\NetExamMotrainIntergration\\NetExamMotrainIntergration\\Log\\logfile.log" />
			<param name="AppendToFile" value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<param name="rollingStyle" value="Date" />
			<param name="datePattern" value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d - %m%n" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.SimpleLayout" />
		</appender>
		<appender name="LossyConsoleAppender" type="log4net.Appender.BufferingForwardingAppender">
			<bufferSize value="20" />
			<lossy value="true" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR" />
			</evaluator>
			<appender-ref ref="ConsoleAppender" />
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
		</root>
		<logger name="File">
			<level value="All" />
			<appender-ref ref="LogFileAppender" />
		</logger>
		<logger name="EmailLog">
			<level value="All" />
			<appender-ref ref="SmtpAppender" />
		</logger>
	</log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>